/* Title Section */
@use '../abstarct/color';

#title {
    background-color: color.$red-color;
    color: color.$white-color;
    text-align: left;

    .container-fluid {
        padding: 3% 15% 7%;
    }
}

