<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial- 
  scale=1.0">
    <title>Lern EJS | To-Do List App</title>
    <link type="text/css" rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="box">
        <h1><%= kindOfDay %> </h1>
    </div>
    <ul>
        <li>Buy Food</li>
        <li>Watch Movies</li>
        <% for(var i=0;i<tasks.length;i++){ %> 
            <li><%= tasks[i] %> </li>
        <% } %>
    </ul>
    <form action="/" method="POST">
        <label for="newItem">Add New Task</label>
        <input type="text" name="newItem" id="newItem">
        <button type="submit">Add</button>
    </form>
</body>
</html>