body {
    margin: 0;

}

.top-container {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 10px solid;
    padding:20px;
}

.middle-container {
    background-color: aqua;
    height: 200px;
    width: 200px;
    border: 20px solid;
    margin: 0 0 0 260px;
}

.bottom-container {
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    border: 10px solid;
    margin: 0 0 0  500px;
}