<%- include('partials/header'); -%>

<h3>Compose</h3>
<form action="POST">
    <input type="text" name="" id="">
    <button type="submit" name="button">Publish</button>
</form>

<%- include('partials/footer'); -%>