<%- include('partials/header'); -%>

<h3>Compose</h3>

<form action="/" method="POST">
    <input type="text" name="datePublish" id="datePublish">
    <button type="submit" name="buttonPublish">Publish</button>
</form>


<%- include('partials/footer'); -%>